@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body{
	color: #2e3440;
	background-color:#e5e9f0;
	font-family: 'Comfortaa';
	text-align:center;
	font-size:xx-large;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
	color:##5e81ac;
}
.main{
	width:60%;
	max-width:800px;
	min-width:420;
	margin-left: auto;
	margin-right: auto;
}

.parent {
	display: table;
}

.child {
	display: table-cell;
	vertical-align: middle;
}

#info{
	color:#4c566a;
}